{
  "tagFormat": "${version}",
  "branch": "master",
  "verifyConditions": [
    "@qiwi/semantic-release-gh-pages-plugin"
  ],
  "publish": [
    {
      "path": "@qiwi/semantic-release-gh-pages-plugin",
      "msg": "deploy: new playground gh-pages release",
      "src": "build",
      "branch": "gh-pages",
      "pullTagsBranch": ""
    }
  ]
}
